/* Aplicar box-sizing globalmente para asegurar un cálculo correcto del tamaño */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: grey;
}

/* Contenedor principal */
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: grey;
  height: 100vh;
  padding-top: 20px;
  box-sizing: border-box; /* Asegurar que el padding esté incluido en el tamaño */
}

/* Estilos para el título */
.titulo {
  text-align: center;
  font-size: 200%;
  color: black;
  margin-bottom: -30px;
}

/* Estilo para el logo */
.logoa {
  margin-top: 50px;
  
}
.logoa img {
  width: 100%;
  max-width: 550px; /* Máximo tamaño para pantallas grandes */
  height: auto;
  margin-bottom: 30px;
}

/* Contenedor para los botones */
.button-container {
  display: flex;
  width: 99%;
  gap: 30px;
  padding: 0 20px;
  flex-direction: row;
  margin-top: 5%;
  /* position: absolute; */
  /* bottom: 0; */
  
}

/* Estilos para los botones */
.factura-button,
.corte-button {
  flex: 1;
  background-color: #333;
  color: white;
  border: none;
  height: 20vh; /* Ajuste de la altura de los botones */
  font-size: 3rem; /* Tamaño de fuente más pequeño para pantallas grandes */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(255, 0, 0, 0.3); /* Sombra rojiza sutil */
}

.factura-button:hover,
.corte-button:hover {
  background-color: #e60000;
}

.factura-button:active,
.corte-button:active {
  background-color: #b30000;
}

/* Media Queries */

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 767px) {
  body {
    background-color: grey;
    overflow: hidden; /* Evita el desplazamiento */
  }

  .header {
    padding-top: 10px;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    background-color: grey;
  }

  .titulo {
    font-size: 1.5rem; /* Tamaño más pequeño para títulos */
    margin-bottom: 5px; /* Menor espacio debajo del título */
  }

  .logoa img {
    width: 100%;
    max-width: 200px; /* Tamaño más pequeño del logo */
    margin-bottom: 30%; /* Espacio ajustado entre el logo y los botones */
  }

  .button-container {
    flex-direction: column;
    gap: 80px;
    position: relative;
    width: 100%;
    margin-top: 0;
  }

  .factura-button,
  .corte-button {
    height: 20vh; /* Botones más pequeños en pantallas pequeñas */
    font-size: 3rem; /* Tamaño de texto ajustado */
    border-radius: 5px;
    flex: none; /* Deshabilita el crecimiento automático */
    margin-left: 3px;
    margin-right: 3px;
  }

  .factura-button:hover,
  .corte-button:hover {
    background-color: red;
  }
}
